{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<style>
	.md-header {
		position: initial
	}

	.md-main__inner {
		margin: 0
	}

	.md-content {
		display: none
	}

	.homepage-content {
		width: 90%;
	}

	@media screen and (min-width:60em) {
		.md-sidebar--secondary {
			display: none
		}
	}

	@media screen and (min-width:76.25em) {
		.md-sidebar--primary {
			display: none
		}
		.homepage-content {
			width: 50%;
		}
	}
</style>
<section class="mdx-container">
	<div class="md-grid md-typeset">
		<div class="mdx-hero">
			<div class="mdx-hero__image">
				<!-- <img src="assets/images/undraw.svg" alt="" width="500" height="auto" draggable="false"> -->
			</div>
			<div class="mdx-hero__content">
				<h1>A free ticketing solution</h1>
				<p>{{ config.site_description }}</p>
				<!-- <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | e }}"
					class="md-button md-button--primary umami--click--get-started-button">
					Get started
				</a> -->
				<a href="{{ 'getting-started' | url }}" title="Get started"
					class="md-button md-button--primary umami--click--get-started-button">
					Get started
				</a>
				<a href="{{ 'try' | url }}" title="Try it out" class="md-button umami--click--try-it-button">
					Try it out
				</a>
			</div>
		</div>
	</div>
</section>
<div class="md-grid md-typeset homepage-content">

	<div>
		<h2>There are currently...</h2>
		<p id="stats">
			<strong><span id="clients-count">(refresh the page)</span> instances</strong> with<br>
			<strong><span id="tickets-count">(refresh the page)</span> tickets</strong> across<br>
			<strong><span id="guilds-count">(refresh the page)</span> guilds</strong> with<br>
			<strong><span id="members-count">(refresh the page)</span> members.</strong>
		</p>
	</div>

	<div>
		{{ page.content }}
	</div>

	<div>
		<h2>Sponsored by</h2>
		<p>
			Discord Tickets is used by and sponsored by these awesome communities:

			<p class="sponsor-list">
				<a href="https://reskybounds.com">
					<img src="https://img.eartharoid.me/insecure/rs:auto:256/plain/s3://eartharoid/k/22/05/reskybounds.png" />
				</a>
				<a href="https://darkhosting.club">
					<img width="auto" src="https://cdn.discordapp.com/attachments/920423855636496387/943574596777549894/attachment.png" />
				</a>
				<a href="https://simplyvanilla.net">
					<img width="auto" src="https://i.imghut.com/2022/04/26/sv-2022-discord-static.png" />
				</a>
				<a href="https://urhost.io">
					<img width="auto" src="https://static.eartharoid.me/k/22/05/urhost.png" />
				</a>
			</p>
		</p>

		<iframe src="https://github.com/sponsors/eartharoid/button" title="Sponsor eartharoid" height="35" width="116"
			style="border: 0;"></iframe>
	</div>

	<p>
		<small>
			This is not an official Discord product. It is not affiliated with nor endorsed by Discord Inc.
		</small>
	</p>

</div>
{% endblock %}

{% block footer %}
	{% include "partials/footer.html" %}
{% endblock %}