{% extends "base.html" %}

{% block announce %}
<a href="https://twitter.com/DiscordTickets">
	Follow <strong>@DiscordTickets</strong> on
	<span class="twemoji twitter">
		{% include ".icons/fontawesome/brands/twitter.svg" %}
	</span>
	<strong>Twitter</strong>
	for updates.
</a>
{% endblock %}

{% block content %}
{{ super() }}
<br>
<footer class="sponsorship">
	<hr>
	<a href="https://github.com/discord-tickets/bot/?sponsor=1" title="Donate to support this project">
		<span class="twemoji heart-throb-hover">
			{% set icon = "octicons/heart-fill-16" %}
			{% include ".icons/" ~ icon ~ ".svg" %}
		</span>
	</a>
	<hr>
</footer>
{% endblock %}