{% extends "base.html" %}

{% block analytics %}
{{ super() }}
{% endblock %}

{% block announce %}
{% include "partials/announce.html" %}
{% endblock %}

{% block content %}
{{ super() }}
<br>
<footer class="sponsorship">
	<hr>
	<a href="https://github.com/discord-tickets/bot/?sponsor=1" title="Donate to support this project">
		<span class="twemoji heart-throb-hover">
			{% set icon = "octicons/heart-fill-16" %}
			{% include ".icons/" ~ icon ~ ".svg" %}
		</span>
	</a>
	<hr>
</footer>
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- conflicting var name with something (only with insiders config) - needs to be module -->
<script type="module" src="{{ 'javascripts/sellapp.js' | url }}" crossorigin="anonymous"></script>
{% endblock %}