:root>* {
	/*
	https://github.com/squidfunk/mkdocs-material/blob/master/src/assets/stylesheets/main/_colors.scss
	*/
	--md-typeset-a-color: #5865F2 !important;
	--md-primary-fg-color: #5865F2;
	--md-primary-fg-color--light: #7289DA;
	--md-primary-fg-color--dark: #424CB8;
	--md-accent-fg-color: #7289DA;
	/* --md-accent-fg-color: #EB459E; */
}

.clickable:hover {
	cursor: pointer;
	color: var(--md-accent-fg-color);
	transition: color .25s ease-out;
}

.pricing-table-container {
	padding: 15px;
	background-color: rgb(88, 101, 242);
	border: 3px solid rgba(255, 255, 255, 0.3);
	border-radius: 15px;
}

img.embed-object-contain {
	display: none !important;
}

.embed-flex {
	color: #1A1A1A;
}

.blurple {
	color: var(--md-primary-fg-color);
}

.blue {
	color: #00B8D4;
}

.tip {
	color: #00BFA5;
}

.green {
	color: #00C853
}

.orange {
	color: #FFA724;
}

.pink {
	color: #FF00DE;
}

.red {
	color: #FF1744;
}

.text-lg {
	font-size: large;
}

.larger-icons .twemoji {
	font-size: larger;
}

#gs-table table>thead>tr>th:nth-of-type(3),
#gs-table table>tbody>tr>td:nth-of-type(3) {
	background-color: rgba(88, 101, 242, .1);
	/* rgba(255, 238, 16, .1) rgba(0, 180, 0, .1) */
}

.ccc {
	display: flex;
	align-items: center;
	justify-content: center;
}

.twitter {
	color: #00acee;
}

.docker {
	color: #1F97EE;
}

.pebblehost {
	color: #51AE59;
}

.linux {
	color: #E6B102;
}

.bisect {
	color: #04DDFF;
}

.hypesrv {
	color: #3351F6;
}

.railway {
	/* color: #853BCE; */
	color: #B139CC;
}

.pterodactyl {
	color: #BD6E35;
}

.md-banner, .md-banner a {
	/* background-color: var(--md-primary-fg-color--dark) !important; */
	color: white;
}

.md-banner a:hover {
	color: white;
	text-decoration: underline;
}


.md-banner .twitter {
	margin-left: .2em
}

footer.sponsorship {
	text-align: center;
	margin: 1em;
}

footer.sponsorship hr {
	display: inline-block;
	width: 1.6rem;
	margin: 0 .7rem;
	vertical-align: middle;
	border-bottom: 2px solid var(--md-default-fg-color--lighter)
}

footer.sponsorship:hover hr {
	border-color: var(--md-accent-fg-color)
}

footer.sponsorship:not(:hover) .twemoji.heart-throb-hover svg {
	color: var(--md-default-fg-color--lighter) !important
}

.twemoji.heart-throb svg, .twemoji.heart-throb-hover svg {
	position: relative;
	color: var(--md-heart);
	animation: pulse 1.5s ease infinite
}

.pulse {
	animation: pulse 1.5s ease infinite
}

@keyframes pulse {
	0% {
		transform: scale(1)
	}

	40% {
		color: var(--md-heart-big);
		transform: scale(1.3)
	}

	50% {
		transform: scale(1.2)
	}

	60% {
		color: var(--md-heart-big);
		transform: scale(1.3)
	}

	100% {
		transform: scale(1)
	}
}

footer.sponsorship {
	text-align: center
}

footer.sponsorship hr {
	display: inline-block;
	width: 1.6rem;
	margin: 0 .7rem;
	vertical-align: middle;
	border-bottom: 2px solid var(--md-default-fg-color--lighter)
}

footer.sponsorship:hover hr {
	border-color: var(--md-accent-fg-color)
}

footer.sponsorship:not(:hover) .twemoji.heart-throb-hover svg {
	color: var(--md-default-fg-color--lighter) !important
}

.mdx-content__column:last-child {
	margin-top: 2.4rem
}

.mdx-content__column p:last-child {
	margin-bottom: 0
}

@media screen and (min-width:60em) {
	.mdx-content__inner {
		display: flex;
		flex-wrap: nowrap;
		gap: 6.4rem
	}

	.mdx-content__column {
		margin-top: 0
	}

	.mdx-content__column:first-child {
		flex: 2 0
	}

	.mdx-content__column:last-child {
		flex: 1 0;
		margin-top: 0
	}
}


footer .md-content__inner {
	margin-bottom: 0;
	padding: 1rem 0
}

footer .md-content__inner:before {
	display: none
}

footer .mdx-connect {
	display: block;
}

footer .mdx-connect .mdx-connect__link {
	color: var(--md-default-fg-color--light) !important;
	display: block
}

footer .mdx-connect a:hover {
	/* color: var(--md-primary-fg-color) !important; */
	color: white !important;
}

footer .mdx-connect .mdx-connect__link span {
	margin-right: .2rem
}

.md-footer-meta__inner a {
	color: hsla(232, 75%, 90%, 0.62) !important;
	/* text-decoration-line: underline;
	text-decoration-style: dotted; */
}

.md-footer-meta__inner a:hover,
.md-footer-meta__inner a:focus,
.md-footer-meta__inner a:active {
	color: white !important;
}