site_name: Discord Tickets
site_description: The most popular open-source ticket management bot for Discord.
site_author: eartharoid
site_url: https://discordtickets.app
copyright: "&copy; 2023 <a href=\"https://eartharoid.me\" target=\"_blank\">Isaac Saunders</a>"

repo_name: discord-tickets/bot
repo_url: https://github.com/discord-tickets/bot
edit_uri: https://github.com/discord-tickets/docs/blob/main/docs/

extra_css:
  - stylesheets/extra.css
extra_javascript:
  - javascripts/extra.js
  - javascripts/feedback.js

watch:
  - includes
  - overrides

theme:
  name: material
  language: en
  custom_dir: overrides/
  palette:
    - scheme: default
      primary: custom
      toggle:
        icon: octicons/sun-16
        name: Switch to dark mode
    - scheme: slate
      primary: custom
      toggle:
        icon: octicons/moon-16
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  logo: img/logo.png
  favicon: favicon.ico
  icon:
    repo: fontawesome/brands/github
    tag:
      default: octicons/tag-16
      archives: octicons/archive-16

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - codehilite:
      guess_lang: false
  - def_list
  - footnotes
  - md_in_html
  - meta
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      repo_url_shortener: true
      user: discord-tickets
      # repo: bot
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - tables
  - toc:
      permalink: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower

nav:
  - Home: index.md
  - Documentation:
    - Getting started: getting-started.md
    - Features:
       - Features: features/index.md
       - Commands: features/commands.md
    # - Public bot: public.md
    - Managed bot: managed.md
    - Self-hosting:
      - Self-hosting: self-hosting/index.md
      - Installation:
        - Installation: self-hosting/installation/index.md
        - Docker: self-hosting/installation/docker.md
        - Standalone: self-hosting/installation/standalone.md
        - BisectHosting: self-hosting/installation/bisecthosting.md
        - Pterodactyl:
          - Pterodactyl: self-hosting/installation/pterodactyl/index.md
          - Official egg: self-hosting/installation/pterodactyl/official.md
          - Generic egg: self-hosting/installation/pterodactyl/generic.md
        - PebbleHost: self-hosting/installation/pebblehost.md
        - Railway: self-hosting/installation/railway.md
      - Configuration: self-hosting/configuration.md
      - Reverse proxy setup: self-hosting/reverse-proxy.md
      - Stdin commands: self-hosting/stdin-commands.md
      - Troubleshooting: self-hosting/troubleshooting.md
      - Data migration: self-hosting/data-migration.md
      - Updating: self-hosting/updating.md
    - Configuration:
      - Configuration: configuration/index.md
      - General settings: configuration/general.md
      - Categories:
        - Categories: configuration/categories/index.md
        - Category questions: configuration/categories/questions.md
      - Panels: configuration/panels.md
      - Tags: configuration/tags.md
    - API: api.md
    - Terms of service: terms.md
  - Blog: https://blog.discordtickets.app
  - Changelogs: /changelogs
  - Privacy: privacy.md
