<section class="mdx-parallax__group" data-md-color-scheme="slate" data-md-color-primary="indigo">
	<div class="md-content md-grid" data-md-component="content">
		<div class="md-content__inner mdx-content__inner">
			<div class="mdx-content__column">

				<!-- Section header -->
				<header class="md-typeset">
					<h4 id="become-a-sponsor">
						Become a sponsor
					</h4>
				</header>

				<!-- Section content -->
				<div class="mdx-connect md-typeset">
					<div class="mdx-connect__column">
						<p>
							If you use Discord Tickets in a large community or for your business,
							consider sponsoring the project to help me build a better and open-source ticket bot.
							Sponsors get prioritised support and feature requests.
						</p>
						<p>
							<strong>
								Want to help me build a better ticket bot?
							</strong>
						</p>
						<p>
							<a href="/sponsor" class="md-button" aria-label="Insiders">
								View sponsoring options
							</a>
						</p>
					</div>
				</div>
			</div>
			<div class="mdx-content__column">
				<!-- Section header -->
				<header class="md-typeset">
					<h4 id="compared">
						Let's compare
					</h4>
				</header>
				<!-- Section content -->
				<div class="mdx-connect md-typeset">
					<div class="mdx-connect__inner">
						{% include "partials/compare.html" %}
					</div>
				</div>
			</div>
		</div>
</section>