:root {
	--md-primary-fg-color: #5865F2;
	--md-primary-fg-color--light: #7289DA;
	--md-primary-fg-color--dark: #000000;
}

.md-announce {
	background-color: var(--md-primary-fg-color--dark) !important;
	color: white;
}

.md-announce a,
.md-announce a:hover {
	color: white !important;
	/* text-decoration: underline; */
	font-weight: bold;
}

.md-announce strong {
	white-space: nowrap
}

.md-announce .twitter {
	margin-left: .2em
}

.md-button:hover,
.md-button--primary:hover {
	background: var(--md-primary-fg-color--dark) !important;
	border-color: var(--md-primary-fg-color--dark) !important;
}

footer.sponsorship {
	text-align: center;
	margin: 1em;
}

footer.sponsorship hr {
	display: inline-block;
	width: 1.6rem;
	margin: 0 .7rem;
	vertical-align: middle;
	border-bottom: 2px solid var(--md-default-fg-color--lighter)
}

footer.sponsorship:hover hr {
	border-color: var(--md-accent-fg-color)
}

footer.sponsorship:not(:hover) .twemoji.heart-throb-hover svg {
	color: var(--md-default-fg-color--lighter) !important
}

.twemoji.heart-throb svg,
.twemoji.heart-throb-hover svg {
	position: relative;
	color: var(--md-heart);
	animation: pulse 1.5s ease infinite
}

@keyframes pulse {
	0% {
		transform: scale(1)
	}

	40% {
		color: var(--md-heart-big);
		transform: scale(1.3)
	}

	50% {
		transform: scale(1.2)
	}

	60% {
		color: var(--md-heart-big);
		transform: scale(1.3)
	}

	100% {
		transform: scale(1)
	}
}

footer.sponsorship {
	text-align: center
}

footer.sponsorship hr {
	display: inline-block;
	width: 1.6rem;
	margin: 0 .7rem;
	vertical-align: middle;
	border-bottom: 2px solid var(--md-default-fg-color--lighter)
}

footer.sponsorship:hover hr {
	border-color: var(--md-accent-fg-color)
}

footer.sponsorship:not(:hover) .twemoji.heart-throb-hover svg {
	color: var(--md-default-fg-color--lighter) !important
}

form#hosting {
	border: 2px solid #626478;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	padding: 24px;
	background-color: black;

}

form fieldset {
	border: 2px solid var(--md-primary-fg-color);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background-color: #2E303E;
}

form legend {
	/* color: var(--md-primary-fg-color--light); */
	color: white;
	margin-bottom: 0px;
	margin-left: 16px;
}

#custom-form-button {
	margin-top:16px;
}

#custom-form-button:hover {
	cursor: pointer;
}

#stats {
	font-weight: 400;
	font-size: 1.25em;
	line-height: 1.5;
	letter-spacing: -.01em;
}

.details {
	/* color: #777CA1 !important; */
	color: #7E84AA !important;
}